{% extends 'base.html' %}

{% block title %}Home - Joshua Portfolio{% endblock %}

{% block content %}
<!-- Profile Section -->
<section id="home" class="max-w-6xl mx-auto bg-white rounded-lg p-6 mt-4 md:mt-8 flex flex-col md:flex-row items-center">
    <!-- Profile Picture Div -->
    <div class="h-auto w-11/12 md:w-1/4 md:h-1/4 mb-6 md:mb-0 md:mr-3 hover-expand rounded-xl md:rounded-full overflow-hidden">
        <img src="{{ url_for('static', filename='images/ayoswa.jpg') }}" alt="Profile Picture" class="w-full h-full object-cover">
    </div>    
    
    <!-- Paragraph Div -->
    <div class="w-full ml-6 md:w-2/3">
        <h2 class="text-2xl font-bold italic md:not-italic mb-3">Welcome to my Portfolio</h2>
        <p class="text-gray-700 mb-6 hover-text italic md:not-italic">
            Hi, I am Joshua Phiri, a dedicated and skilled professional with a background in Computer Systems and Security. 
            Highly proficient in computer programming, networking, and security, I leverage a solid foundation in both development and infrastructure to create robust, secure, and efficient solutions. 
            My expertise in these domains allows me to handle complex technical challenges and deliver high-quality results.
        </p>
        <!-- Tertiary Education Section -->
        <div class="border-t pt-4">
            <h3 class="text-lg font-semibold italic md:not-italic">Academic Qualification</h3>
            <p class="text-gray-700 italic md:not-italic">
                <small>(Bachelor's Degree in Computer Systems and Security)</small>
            </p>
        </div>
    </div>
</section>



<!-- Skills Section -->
<section id="skills" class="max-w-6xl mx-auto bg-white rounded-lg p-6 italic md:not-italic mt-5 md:mt-7">
    <h2 class="text-2xl font-bold mb-8 md:text-center">Skills</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <!-- Skill Card 1 -->
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover-expand">
            <h3 class="text-xl font-semibold text-gray-900">Programming Languages</h3>
            <ul class="mt-4 text-gray-700">
                <li>Python</li>
                <li>JavaScript</li>
                <li>Java</li>
                <li>C++</li>
                <li>PHP</li>
            </ul>
        </div>
        <!-- Skill Card 2 -->
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover-expand">
            <h3 class="text-xl font-semibold text-gray-900">Frameworks & Libraries</h3>
            <ul class="mt-4 text-gray-700">
                <li>Flask</li>
                <li>Django</li>
                <li>React</li>
                <li>Angular</li>
                <li>Spring Boot</li>
            </ul>
        </div>
        <!-- Skill Card 3 -->
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover-expand">
            <h3 class="text-xl font-semibold text-gray-900">Database Management</h3>
            <ul class="mt-4 text-gray-700">
                <li>MySQL</li>
                <li>PostgreSQL</li>
                <li>MongoDB</li>
                <li>SQLite</li>
                <li>Redis</li>
            </ul>
        </div>
        <!-- Skill Card 4 -->
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover-expand">
            <h3 class="text-xl font-semibold text-gray-900">DevOps & Tools</h3>
            <ul class="mt-4 text-gray-700">
                <li>Docker</li>
                <li>Kubernetes</li>
                <li>AWS</li>
                <li>Git</li>
                <li>Jenkins</li>
            </ul>
        </div>
    </div>
</section>

<!-- Testimonials Section -->
<section id="testimonials" class="max-w-6xl mx-auto bg-white rounded-lg p-6 mt-10">
    <h2 class="text-2xl font-bold mb-8 italic md:not-italic md:text-center">Testimonials</h2>
    <div class="flex flex-col md:flex-row md:space-x-6 p-2">
        <!-- Testimonial 1 -->
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover-expand mb-3">
            <blockquote class="text-gray-700 italic">
                "Joshua's attention to detail and problem-solving skills are unmatched. He delivered our project ahead of schedule and exceeded our expectations."
            </blockquote>
            <cite class="mt-4 block font-semibold">Lusungu Nyasulu, Graphic Designer</cite>
        </div>
        <!-- Testimonial 2 -->
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover-expand mb-3">
            <blockquote class="text-gray-700 italic">
                "Working with Joshua was a pleasure. His professionalism and technical expertise were evident throughout the collaboration."
            </blockquote>
            <cite class="mt-4 block font-semibold">Joshua Jacob, Computer Programer</cite>
        </div>
    </div>
</section>

<!-- Service Section -->
<section id="services" class="py-20 bg-gray-100">
    <div class="container mx-auto italic md:not-italic">
        <h2 class="text-3xl font-semibold mx-5 md:mx-auto text-gray-800 mb-10 md:text-center">What I do</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
            <!-- Service Item 1 -->
            <div class="bg-white rounded-lg shadow-lg m-auto sm:m-0">
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Web Development</h3>
                    <p class="text-gray-600 leading-relaxed">Custom web development solutions tailored to your business needs.</p>
                    <ul class="mt-4 text-gray-600">
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Frontend and backend development</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Responsive and mobile-friendly designs</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> E-commerce and CMS integration</li>
                    </ul>
                </div>
            </div>
            
            
            <!-- Service Item 2 -->
            <div class="bg-white rounded-lg shadow-lg m-auto sm:m-0">
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Cybersecurity Consulting</h3>
                    <p class="text-gray-600 leading-relaxed">Expert cybersecurity consulting to secure your digital assets and protect against threats.</p>
                    <ul class="mt-4 text-gray-600">
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Vulnerability assessments</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Incident response planning</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Compliance and regulatory guidance</li>
                    </ul>
                </div>
            </div>
            
            <!-- Service Item 3 -->
            <div class="bg-white rounded-lg shadow-lg m-auto sm:m-0">
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Networking</h3>
                    <p class="text-gray-600 leading-relaxed">Robust networking solutions to ensure seamless connectivity and performance.</p>
                    <ul class="mt-4 text-gray-600">
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Network design and optimization</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Routing and switching configurations</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> VPN and firewall setup</li>
                    </ul>
                </div>
            </div>
            
            <!-- Service Item 4 -->
            <div class="bg-white rounded-lg shadow-lg m-auto sm:m-0">
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Server Administration</h3>
                    <p class="text-gray-600 leading-relaxed">Efficient server management and administration for reliable performance.</p>
                    <ul class="mt-4 text-gray-600">
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Server setup and configuration</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Monitoring and maintenance</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Backup and disaster recovery</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>


<!--pricing section -->
<section id="pricing" class="py-20 bg-gray-100">
    <div class="container mx-auto italic md:not-italic">
        <h2 class="text-3xl font-semibold mx-5 md:mx-auto text-gray-800 mb-10 md:text-center">My Pricing</h2>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white divide-y divide-gray-200 rounded-lg overflow-hidden shadow-sm">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider border-b-2 border-gray-200">Service</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider border-b-2 border-gray-200">Description</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider border-b-2 border-gray-200">Price</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider border-b-2 border-gray-200">Action</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    <!-- Price Item 1 -->
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-b border-gray-200">Web Development</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border-b border-gray-200">Tailored web development solutions.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-b border-gray-200">Negotiable</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm border-b border-gray-200">
                            <a href="#" class="text-blue-500 hover:underline">Contact us</a>
                        </td>
                    </tr>
                    
                    <!-- Price Item 2 -->
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-b border-gray-200">Cloud Infrastructure</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border-b border-gray-200">Scalable and secure cloud solutions.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-b border-gray-200">Negotiable</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm border-b border-gray-200">
                            <a href="#" class="text-blue-500 hover:underline">Contact Me</a>
                        </td>
                    </tr>
                    
                    <!-- Price Item 3 -->
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-b border-gray-200">Cybersecurity Consulting</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border-b border-gray-200">Expert cybersecurity consulting services.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-b border-gray-200">Negotiable</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm border-b border-gray-200">
                            <a href="#" class="text-blue-500 hover:underline">Contact Me</a>
                        </td>
                    </tr>

                    <!-- Price Item 4 -->
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-b border-gray-200">Networking</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border-b border-gray-200">Advanced networking solutions.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-b border-gray-200">Negotiable</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm border-b border-gray-200">
                            <a href="#" class="text-blue-500 hover:underline">Contact Me</a>
                        </td>
                    </tr>

                    <!-- Price Item 5 -->
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-b border-gray-200">Server Administration</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border-b border-gray-200">Efficient server management.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-b border-gray-200">Negotiable</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm border-b border-gray-200">
                            <a href="#" class="text-blue-500 hover:underline">Contact Me</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
