{% extends 'base.html' %}

{% block title %}Services - Joshua Portfolio{% endblock %}

{% block content %}
<!-- Service Section -->
<section id="services" class="py-20 bg-gray-100">
    <div class="container mx-auto italic md:not-italic">
        <h2 class="text-3xl font-semibold mx-5 md:mx-auto text-gray-800 mb-10 mt-5 md:mt-10 md:text-center">What I do</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
            <!-- Service Item 1 -->
            <div class="bg-white rounded-lg shadow-lg m-auto sm:m-0">
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Web Development</h3>
                    <p class="text-gray-600 leading-relaxed">Custom web development solutions tailored to your business needs.</p>
                    <ul class="mt-4 text-gray-600">
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Frontend and backend development</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Responsive and mobile-friendly designs</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> E-commerce and CMS integration</li>
                    </ul>
                </div>
            </div>
            
            
            <!-- Service Item 2 -->
            <div class="bg-white rounded-lg shadow-lg m-auto sm:m-0">
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Cybersecurity Consulting</h3>
                    <p class="text-gray-600 leading-relaxed">Expert cybersecurity consulting to secure your digital assets and protect against threats.</p>
                    <ul class="mt-4 text-gray-600">
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Vulnerability assessments</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Incident response planning</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Compliance and regulatory guidance</li>
                    </ul>
                </div>
            </div>
            
            <!-- Service Item 3 -->
            <div class="bg-white rounded-lg shadow-lg m-auto sm:m-0">
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Networking</h3>
                    <p class="text-gray-600 leading-relaxed">Robust networking solutions to ensure seamless connectivity and performance.</p>
                    <ul class="mt-4 text-gray-600">
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Network design and optimization</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Routing and switching configurations</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> VPN and firewall setup</li>
                    </ul>
                </div>
            </div>
            
            <!-- Service Item 4 -->
            <div class="bg-white rounded-lg shadow-lg m-auto sm:m-0">
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Server Administration</h3>
                    <p class="text-gray-600 leading-relaxed">Efficient server management and administration for reliable performance.</p>
                    <ul class="mt-4 text-gray-600">
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Server setup and configuration</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Monitoring and maintenance</li>
                        <li class="mb-2"><span class="text-green-500 mr-2">&#10004;</span> Backup and disaster recovery</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}
